* {
    margin:0;
    padding:0;
}

.container {
    display: inline-block;
    background-color: rgb(240, 191, 76);
    height: 400px;
    width: 850px;
    border: 2px solid #000000;
}

.box1 {
    display: inline-block;
    background-color: red;
    height: 350px;
    width: 180px;
    border: 2px solid #000000;
    margin: 20px 10px;
}

.box2 {
    display: inline-block;
    background-color: green;
    height: 350px;
    width: 180px;
    border: 2px solid #000000;
    margin: 20px 10px;
}

.box3 {
    display: inline-block;
    background-color: blue;
    height: 350px;
    width: 180px;
    border: 2px solid #000000;
    margin: 20px 10px;
}

.box4 {
    display: inline-block;
    background-color: purple;
    height: 350px;
    width: 180px;
    border: 2px solid #000000;
    margin: 20px 10px;
}

/* POSITIONING CODE FOR PRACTICE */

.container_positioning {
    position: relative;
    background-color: rgb(240, 191, 76);
    border: 2px solid #000000;
    margin-top: 20px;
    height: 400px;
    width: 850px;
}

.box1_position {
    position: absolute;
    background-color: red;
    border: 2px solid #000000;
    height: 350px;
    width: 180px;
    top: 20px;
    left: 10px;
}

.box2_position {
    position: absolute;
    background-color: green;
    height: 350px;
    width: 180px;
    border: 2px solid #000000;
    top: 20px;
    left: 215px;
}

.box3_position {
    position: absolute;
    background-color: blue;
    height: 350px;
    width: 180px;
    border: 2px solid #000000;
    top: 20px;
    left: 425px;
}

.box4_position {
    position: absolute;
    background-color: purple;
    height: 350px;
    width: 180px;
    border: 2px solid #000000;
    top: 20px;
    left: 630px;
}