* {
    margin:0;
    padding:0;
}

html {
    font-size: 14px;
}

nav img + a {
    display: inline-block;
    margin-bottom: 60px;
}

nav {
    word-spacing: 20px;
}

body {
    background-image: url("Pictures/plain_bg.jpg");
    margin: 0 10%;
}

h2 {
    color: blue;
    font-size: 1.5em;
}
.container {

    display: inline-block;
    background-color: rgb(240, 191, 76);
    padding-top: 80px;
    height: 450px;
    width: 1500px;
    border: 2px solid #000000;
}

.box1 {
    display: inline-block;
    position: relative;
    background-color: red;
    height: 30vh;
    width: 20vw;
    border: 2px solid #000000;
    margin: 10px 10px;
    left: 3%;
}

.box2 {
    display: inline-block;
    position: relative;
    background-color: green;
    height: 30vh;
    width: 20vw;
    border: 2px solid #000000;
    margin: 10px 10px;
    left: 8%;
}


.box3 {
    display: inline-block;
    position: relative;
    background-color: purple;
    height: 30vh;
    width: 20vw;
    border: 2px solid #000000;
    margin: 10px 10px;
    left: 14%;
}

.heading {
    font-size: 5rem;
}

.img {
    position: absolute;
    height: 170pt;
    right: 6%;
    top: 11%;
}

/* ~~~~~~ID Selector~~~~ */
#logo {
    height: 100px;
    margin-left: 40px;    
}